body {
  padding: 25px;
  background-color: #454c52;
}

h1 {
  color: #4db6bc;
}

.table-container {
  padding: 25px;
  border: 1px solid #4db6bc;
  border-radius: 20px;
}

.table {
  color: #d5d6d7;
}
